# label Creation
according to the document a user  is active when it's id is ether in brochure_view or app start

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

BASE_DIR = os.path.abspath("..")

In [2]:
# load the clean data set
from src.genral import restore_dataframes_from_pickle
file_names = ['installs.pkl', 'brochure_views.pkl', 'brochure_views_july.pkl', 'app_starts.pkl', 'app_starts_july.pkl']
SAVE_CLEAN_DATA_PATH = os.path.join(BASE_DIR, "data", "clean_data")
[installs, brochure_views, brochure_views_july, app_starts, app_starts_july] = restore_dataframes_from_pickle(file_names, SAVE_CLEAN_DATA_PATH)

File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\clean_data\installs.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\clean_data\brochure_views.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\clean_data\brochure_views_july.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\clean_data\app_starts.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\clean_data\app_starts_july.pkl

In [3]:
active_users_july = set(brochure_views_july['userId'].unique()) | set(app_starts_july['userId'].unique())

# feature Engineering
the analysis will go on only userIds in the installed text file

In [4]:
print(brochure_views.shape)
print(app_starts.shape)
brochure_views = brochure_views[brochure_views['userId'].isin(installs['userId'])]
app_starts= app_starts[app_starts['userId'].isin(installs['userId'])]
display(brochure_views.head())
print(brochure_views.shape)
print(app_starts.shape)

(279213, 8)
(144052, 2)

,id,userId,dateCreated,page_turn_count,view_duration,brochure_id,view_duration_log,page_turn_count_log
0,6269194661,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:09.539,30,95172.0,672239440,11.463452,3.433987
1,6269192581,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:00.697,2,4000.0,673861625,8.294300,1.098612
2,6269188351,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:39.917,1,14000.0,660764240,9.546884,0.693147
3,6204426632,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30 23:46:13.597,64,168000.0,672658544,12.031725,4.174387
4,6204424112,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:02.197,1,33000.0,660764240,10.404293,0.693147

(208348, 8)
(141432, 2)

In [5]:
from datetime import datetime

start_date = '2017-04-01'
end_date = '2017-07-01'
cutoff_date = datetime(2018,7,1)

In [6]:
start_dt = pd.to_datetime(start_date)
end_dt = pd.to_datetime(end_date)

In [7]:
bv_period = brochure_views[(brochure_views['dateCreated'] >= start_dt) &
                           (brochure_views['dateCreated'] < end_dt)].copy()
as_period = app_starts[(app_starts['dateCreated'] >= start_dt) &
                       (app_starts['dateCreated'] < end_dt)].copy()
display(bv_period.head())
display(as_period.head())

,id,userId,dateCreated,page_turn_count,view_duration,brochure_id,view_duration_log,page_turn_count_log
0,6269194661,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:09.539,30,95172.0,672239440,11.463452,3.433987
1,6269192581,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:00.697,2,4000.0,673861625,8.294300,1.098612
2,6269188351,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:39.917,1,14000.0,660764240,9.546884,0.693147
3,6204426632,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30 23:46:13.597,64,168000.0,672658544,12.031725,4.174387
4,6204424112,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:02.197,1,33000.0,660764240,10.404293,0.693147

              dateCreated                                userId
0 2017-06-30 14:14:54.793  50e72534-a4f4-40d7-96d5-ecbe4eb314e9
1 2017-06-30 14:03:13.010  b3712849-595e-403f-84d2-4698439056b0
2 2017-06-28 16:26:48.383  99cea50b-3ecf-4102-8290-997eaf32a6b6
3 2017-06-27 10:23:29.943  78c06433-9ea8-4835-aff5-f64b262d0fb4
4 2017-06-27 10:11:27.634  510c5f9e-de54-45ee-909c-c14103130e5e

In [8]:
events = pd.concat(
    [bv_period[['userId', 'dateCreated']], as_period[['userId', 'dateCreated']]],
    ignore_index=True
)
display(events.head())
print(events.shape)

                                 userId             dateCreated
0  9491a960-206a-4a58-9177-e78cb1f05e70 2017-04-30 23:47:09.539
1  9491a960-206a-4a58-9177-e78cb1f05e70 2017-04-30 23:47:00.697
2  9491a960-206a-4a58-9177-e78cb1f05e70 2017-04-30 23:46:39.917
3  fa623647-dfc9-49b4-bbb6-77cbacd599f4 2017-04-30 23:46:13.597
4  9491a960-206a-4a58-9177-e78cb1f05e70 2017-04-30 23:46:02.197

(349780, 2)

## Recency, Frequency, Intensity (RFI)

In [9]:
user_last_eng = events.groupby('userId')['dateCreated'].max().reset_index()
user_last_eng['days_since_last_engagement'] = (cutoff_date - user_last_eng['dateCreated']).dt.days
user_last_eng['days_since_last_engagement'] = user_last_eng['days_since_last_engagement'].clip(lower=0)
display(user_last_eng)
user_last_eng.drop(columns='dateCreated', inplace=True)

,userId,dateCreated,days_since_last_engagement
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,2017-05-08 13:25:41.306,418
1,0002c218-d30f-402e-ae08-1280ad4fb669,2017-04-29 22:33:00.839,427
2,000691c6-4289-47f8-81f1-628e52ed5429,2017-04-25 17:04:05.227,431
3,00095350-9e64-4b34-9112-b9869703248b,2017-04-08 10:16:10.244,448
4,00095653-80f8-4fba-93d9-44ae70bb6263,2017-06-21 15:51:46.133,374
...,...,...,...
19923,ffe73bd6-8a72-4f59-9c0c-3ecc93240445,2017-04-08 08:06:42.221,448
19924,ffed0abc-5daa-49a7-98d2-52bf7f542af5,2017-04-24 14:45:53.395,432
19925,fffa3403-cb42-4eb5-888a-c468074a67ac,2017-04-06 17:56:12.756,450
19926,fffc2810-e6d3-4431-a002-dd713f8f97a1,2017-06-27 09:17:04.699,368
19927,ffff2596-c930-4f07-a6cc-8cba410359db,2017-04-15 07:52:43.664,441

In [10]:
frequency = events.groupby('userId').agg(total_events=('userId', 'count')).reset_index()
frequency.head()

                                 userId  total_events
0  0000bb01-a52b-4b4c-a0dd-8ef80f0a810c             1
1  0002c218-d30f-402e-ae08-1280ad4fb669             9
2  000691c6-4289-47f8-81f1-628e52ed5429             1
3  00095350-9e64-4b34-9112-b9869703248b             7
4  00095653-80f8-4fba-93d9-44ae70bb6263             8

In [11]:
intensity = bv_period.groupby('userId').agg(
        avg_view_duration=('view_duration_log', 'mean'),
        total_page_turns=('page_turn_count_log', 'sum')
    ).reset_index().fillna(0)
intensity.head()

                                 userId  avg_view_duration  total_page_turns
0  00095350-9e64-4b34-9112-b9869703248b          10.807466         14.632555
1  00095653-80f8-4fba-93d9-44ae70bb6263          10.279448          6.356108
2  0015a4a8-99f1-4119-9e10-0ac9773ae48a          10.145755          4.836282
3  0020c0ac-da8c-460c-91ce-b1b603456180          10.898162        234.363127
4  002447a6-b67d-433f-94d2-6da0eb6ccca1          11.060574         10.147845

In [12]:
features = (user_last_eng.merge(frequency, on='userId', how='left')
                .merge(intensity, on='userId', how='left'))

In [ ]:
first_interaction = events.groupby('userId')['dateCreated'].min().reset_index()
first_interaction.rename(columns={'dateCreated': 'first_interaction_date'}, inplace=True)
installs = installs.merge(first_interaction, on='userId', how='left')
display(installs.head())
installs['install_to_first_interaction_days'] = (
    (installs['first_interaction_date'] - installs['InstallDate']).dt.days
).clip(lower=0)
mean_install_to_first_interaction = installs['install_to_first_interaction_days'].mean()
installs['install_to_first_interaction_days'] = installs['install_to_first_interaction_days'].fillna(mean_install_to_first_interaction)
features = features.merge(
        installs[['userId', 'install_to_first_interaction_days']],
        on='userId',
        how='left'
)

In [14]:
mean_install_to_first_interaction = installs['install_to_first_interaction_days'].mean()
mean_install_to_first_interaction

np.float64(0.021126053793657167)

In [26]:
display(features.head())

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days_x,monthly_avg_duration2017-04,monthly_avg_duration2017-05,monthly_avg_duration2017-06,monthly_total_pages2017-04,...,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,views_diff_2017-07_vs_2017-06,install_to_first_interaction_days_y
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,418,1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0002c218-d30f-402e-ae08-1280ad4fb669,427,9,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000691c6-4289-47f8-81f1-628e52ed5429,431,1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00095350-9e64-4b34-9112-b9869703248b,448,7,10.807466,14.632555,0.0,10.807466,0.000000,0.000000,14.632555,...,2.0,5.0,5.0,0.0,0.0,0.0,-5.0,0.0,0.0,0.0
4,00095653-80f8-4fba-93d9-44ae70bb6263,374,8,10.279448,6.356108,0.0,0.000000,9.546884,10.523636,0.000000,...,3.0,4.0,0.0,1.0,3.0,0.0,1.0,2.0,-3.0,0.0

## monthly aggregates

In [16]:
from src.feature_selection import get_months_in_range

months_in_range = get_months_in_range(start_dt, end_dt)
bv_period['year_month'] = bv_period['dateCreated'].dt.to_period('M')

monthly_agg = bv_period.groupby(['userId', 'year_month']).agg(
    monthly_views=('userId', 'count'),
    monthly_avg_duration=('view_duration_log', 'mean'),
    monthly_total_pages=('page_turn_count_log', 'sum')
).reset_index()

monthly_features = monthly_agg.pivot_table(
    index='userId',
    columns='year_month',
    values=['monthly_views', 'monthly_avg_duration', 'monthly_total_pages'],
    fill_value=0
)

In [17]:
print(months_in_range)
print(" Monthly Aggregates")
display(monthly_agg.head())
display(monthly_features.head())

PeriodIndex(['2017-04', '2017-05', '2017-06', '2017-07'], dtype='period[M]')
 Monthly Aggregates

,userId,year_month,monthly_views,monthly_avg_duration,monthly_total_pages
0,00095350-9e64-4b34-9112-b9869703248b,2017-04,5,10.807466,14.632555
1,00095653-80f8-4fba-93d9-44ae70bb6263,2017-05,1,9.546884,0.693147
2,00095653-80f8-4fba-93d9-44ae70bb6263,2017-06,3,10.523636,5.662960
3,0015a4a8-99f1-4119-9e10-0ac9773ae48a,2017-05,3,10.145755,4.836282
4,0020c0ac-da8c-460c-91ce-b1b603456180,2017-05,18,10.340818,37.017190

                                     monthly_avg_duration             \
year_month                                        2017-04    2017-05
userId
00095350-9e64-4b34-9112-b9869703248b            10.807466   0.000000
00095653-80f8-4fba-93d9-44ae70bb6263             0.000000   9.546884
0015a4a8-99f1-4119-9e10-0ac9773ae48a             0.000000  10.145755
0020c0ac-da8c-460c-91ce-b1b603456180             0.000000  10.340818
002447a6-b67d-433f-94d2-6da0eb6ccca1             0.000000   0.000000

                                                monthly_total_pages  \
year_month                              2017-06             2017-04
userId
00095350-9e64-4b34-9112-b9869703248b   0.000000           14.632555
00095653-80f8-4fba-93d9-44ae70bb6263  10.523636            0.000000
0015a4a8-99f1-4119-9e10-0ac9773ae48a   0.000000            0.000000
0020c0ac-da8c-460c-91ce-b1b603456180  11.013475            0.000000
002447a6-b67d-433f-94d2-6da0eb6ccca1  11.060574            0.000000

                                                            monthly_views  \
year_month                              2017-05     2017-06       2017-04
userId
00095350-9e64-4b34-9112-b9869703248b   0.000000    0.000000           5.0
00095653-80f8-4fba-93d9-44ae70bb6263   0.693147    5.662960           0.0
0015a4a8-99f1-4119-9e10-0ac9773ae48a   4.836282    0.000000           0.0
0020c0ac-da8c-460c-91ce-b1b603456180  37.017190  197.345937           0.0
002447a6-b67d-433f-94d2-6da0eb6ccca1   0.000000   10.147845           0.0


year_month                           2017-05 2017-06
userId
00095350-9e64-4b34-9112-b9869703248b     0.0     0.0
00095653-80f8-4fba-93d9-44ae70bb6263     1.0     3.0
0015a4a8-99f1-4119-9e10-0ac9773ae48a     3.0     0.0
0020c0ac-da8c-460c-91ce-b1b603456180    18.0    87.0
002447a6-b67d-433f-94d2-6da0eb6ccca1     0.0     3.0

In [18]:
monthly_features.columns=[''.join([str(c) for c in col]) for col in monthly_features.columns]
print(monthly_features.columns)

Index(['monthly_avg_duration2017-04', 'monthly_avg_duration2017-05',
       'monthly_avg_duration2017-06', 'monthly_total_pages2017-04',
       'monthly_total_pages2017-05', 'monthly_total_pages2017-06',
       'monthly_views2017-04', 'monthly_views2017-05', 'monthly_views2017-06'],
      dtype='object')

In [19]:
for ym in months_in_range:
    ym_str = str(ym)
    if f'monthly_views{ym_str}' not in monthly_features.columns:
        monthly_features[f'monthly_views{ym_str}'] = 0
        monthly_features[f'monthly_avg_duration{ym_str}'] = 0
        monthly_features[f'monthly_total_pages{ym_str}'] = 0

In [20]:
features = features.merge(monthly_features, on='userId', how='left')
display(features.head())

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration2017-04,monthly_avg_duration2017-05,monthly_avg_duration2017-06,monthly_total_pages2017-04,monthly_total_pages2017-05,monthly_total_pages2017-06,monthly_views2017-04,monthly_views2017-05,monthly_views2017-06,monthly_views2017-07,monthly_avg_duration2017-07,monthly_total_pages2017-07
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,418,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0002c218-d30f-402e-ae08-1280ad4fb669,427,9,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000691c6-4289-47f8-81f1-628e52ed5429,431,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00095350-9e64-4b34-9112-b9869703248b,448,7,10.807466,14.632555,0.0,10.807466,0.000000,0.000000,14.632555,0.000000,0.00000,5.0,0.0,0.0,0.0,0.0,0.0
4,00095653-80f8-4fba-93d9-44ae70bb6263,374,8,10.279448,6.356108,0.0,0.000000,9.546884,10.523636,0.000000,0.693147,5.66296,0.0,1.0,3.0,0.0,0.0,0.0

## 3. Active Days & Distinct Brochures

In [21]:
bv_period['view_date'] = bv_period['dateCreated'].dt.date
active_days = bv_period.groupby('userId')['view_date'].nunique().reset_index()
active_days.rename(columns={'view_date': 'active_days'}, inplace=True)

distinct_brochures = bv_period.groupby('userId')['brochure_id'].nunique().reset_index()
distinct_brochures.rename(columns={'brochure_id': 'distinct_brochures'}, inplace=True)

features = features.merge(active_days, on='userId', how='left') \
    .merge(distinct_brochures, on='userId', how='left')

In [22]:
display(features.head())

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration2017-04,monthly_avg_duration2017-05,monthly_avg_duration2017-06,monthly_total_pages2017-04,monthly_total_pages2017-05,monthly_total_pages2017-06,monthly_views2017-04,monthly_views2017-05,monthly_views2017-06,monthly_views2017-07,monthly_avg_duration2017-07,monthly_total_pages2017-07,active_days,distinct_brochures
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,418,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0002c218-d30f-402e-ae08-1280ad4fb669,427,9,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000691c6-4289-47f8-81f1-628e52ed5429,431,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00095350-9e64-4b34-9112-b9869703248b,448,7,10.807466,14.632555,0.0,10.807466,0.000000,0.000000,14.632555,0.000000,0.00000,5.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0
4,00095653-80f8-4fba-93d9-44ae70bb6263,374,8,10.279448,6.356108,0.0,0.000000,9.546884,10.523636,0.000000,0.693147,5.66296,0.0,1.0,3.0,0.0,0.0,0.0,3.0,4.0

# 4. Trend Features (Month-over-Month Differences)

In [23]:
trend_agg = bv_period.groupby(['userId', 'year_month']).agg(
    monthly_views=('userId', 'count')
).reset_index()

# Pivot by year_month
trend_pivot = trend_agg.pivot(index='userId', columns='year_month', values='monthly_views').fillna(0)

# Ensure all months present in the pivot (in case some months had no data)
for ym in months_in_range:
    if ym not in trend_pivot.columns:
        trend_pivot[ym] = 0

# Sort the columns by year_month period to compute differences correctly
sorted_months = sorted(months_in_range)
# Rename columns to views_YYYY-MM
trend_pivot.rename(columns={m: f'views_{m}' for m in trend_pivot.columns}, inplace=True)

# Compute differences between consecutive months
for i in range(1, len(sorted_months)-1):
    curr = sorted_months[i]
    prev = sorted_months[i - 1]
    curr_str = f'views_{curr}'
    prev_str = f'views_{prev}'
    trend_pivot[f'views_diff_{curr}_vs_{prev}'] = trend_pivot[curr_str] - trend_pivot[prev_str]

features = features.merge(trend_pivot, on='userId', how='left')
features = features.fillna(0)

In [15]:
display(features.head())
print(features.shape)

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,418,1,NaN,NaN
1,0002c218-d30f-402e-ae08-1280ad4fb669,427,9,NaN,NaN
2,000691c6-4289-47f8-81f1-628e52ed5429,431,1,NaN,NaN
3,00095350-9e64-4b34-9112-b9869703248b,448,7,10.807466,14.632555
4,00095653-80f8-4fba-93d9-44ae70bb6263,374,8,10.279448,6.356108

(19928, 5)

# Generating Test, Validation, and Training Sets
To perform hyperparameter tuning and model evaluation, we use two different data splits. A third split is reserved for predictions. The data is utilized as follows:

1. **Split 1**:
   - **Training Set**: April
   - **Validation Set**: May

2. **Split 2**:
   - **Training Set**: April and May
   - **Validation Set**: June

3. **Final Prediction Split**:
   - **Training Set**: April, May, and June
   - **Test Set**: July

4. **Deployment Phase**:
   - **Training Set**: April, May, June, and July

## generating the splits

In [3]:

from src.feature_selection import engineer_features_all, generate_active_label
from datetime import datetime
brochure_views = brochure_views[brochure_views['userId'].isin(installs['userId'])]
app_starts= app_starts[app_starts['userId'].isin(installs['userId'])]

# start_date = '2017-04-01'
# end_date = '2017-05-01'
# cutoff_date = datetime(2017,5,1)
# print(brochure_views.shape)
# print(app_starts.shape)
#
# features = engineer_features_all(
#     brochure_views,
#     app_starts,
#     installs,
#     start_date,
#     end_date,
#     cutoff_date
# )
# activity_start='2017-05-01'
# activity_end='2017-06-01'
# label = generate_active_label(
#     brochure_views,
#     app_starts,
#     activity_start,
#     activity_end
# )
# features = features.merge(label, on='userId', how='left')
# features = features.fillna(0)

In [4]:
from src.fold_split import generate_splits_and_save

SAVE_CLEAN_DATA_PATH = os.path.join(BASE_DIR, "data", "train_set")
brochure_views = brochure_views[brochure_views['userId'].isin(installs['userId'])]
app_starts= app_starts[app_starts['userId'].isin(installs['userId'])]

generate_splits_and_save(
    brochure_views=brochure_views,
    app_starts=app_starts,
    installs=installs,

    base_dir=BASE_DIR,
    save_clean_data_path=SAVE_CLEAN_DATA_PATH,

)

Processing FOLD_1:
  Training Set: 2017-04-01 to 2017-04-30
Saved Training Features: fold_1_train.pkl
  Validation/Test Set: 2017-05-01 to 2017-05-31
Saved Validation/Test Features: fold_1_validation_or_test.pkl
Processing FOLD_2:
  Training Set: 2017-04-01 to 2017-05-31
Saved Training Features: fold_2_train.pkl
  Validation/Test Set: 2017-06-01 to 2017-06-30
Saved Validation/Test Features: fold_2_validation_or_test.pkl
All splits processed and saved successfully!

In [17]:
from src.feature_selection import engineer_features_all
from src.feature_selection import generate_active_label
train_start_date = '2017-05-01'
train_end_date = '2017-06-30'
train_cutoff_date = pd.to_datetime('2017-07-01')
train_label_start = '2017-06-01'
train_label_end = '2017-06-30'

validation_start_date = '2017-07-01'
validation_end_date = '2017-07-31'
validation_cutoff_date = pd.to_datetime('2017-08-01')
validation_label_start = '2017-07-01'
validation_label_end = '2017-07-31'

train_features = engineer_features_all(
    brochure_views=brochure_views,
    app_starts=app_starts,
    installs=installs,
    start_date=train_start_date,
    end_date=train_end_date,
    cutoff_date=train_cutoff_date
)
train_labels = generate_active_label(
    brochure_views=brochure_views,
    app_starts=app_starts,
    activity_start=train_label_start,
    activity_end=train_label_end
)
train_features = train_features.merge(train_labels, on='userId', how='left')
train_features = train_features.fillna(0)
train_filename = "fold_3_train.pkl"

validation_features = engineer_features_all(
    brochure_views=brochure_views_july,
    app_starts=app_starts_july,
    installs=installs,
    start_date=validation_start_date,
    end_date=validation_end_date,
    cutoff_date=validation_cutoff_date
)
validation_labels = generate_active_label(
    brochure_views=brochure_views_july,
    app_starts=app_starts_july,
    activity_start=validation_label_start,
    activity_end=validation_label_end
)

In [18]:
validation_filename = "fold_3_validation.pkl"

In [19]:

validation_features = validation_features.merge(train_labels, on='userId', how='left')
validation_features = validation_features.fillna(0)

'C:\\Users\\mona1\\PycharmProjects\\scientificProject\\data\\clean_data'

In [21]:
from src.genral import save_dataframes_to_pickle
Final_DATA = os.path.join(BASE_DIR, "data", "final_data")
save_dataframes_to_pickle([train_features,validation_features ], [train_filename, validation_filename], Final_DATA)

File saved successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\final_data\fold_3_train.pkl
File saved successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\final_data\fold_3_validation.pkl