In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score
import os

In [2]:
BASE_DIR = os.path.abspath("..")
TRAIN_SET = os.path.join(BASE_DIR,"data", "train_set")

In [3]:
from src.genral import restore_dataframes_from_pickle

[train_set1, validation_set1, train_set2, validation_set2] = restore_dataframes_from_pickle(
    file_names=["fold_1_train.pkl", "fold_1_validation_or_test.pkl", "fold_2_train.pkl", "fold_2_validation_or_test.pkl"],
    folder_path=TRAIN_SET
)

display(train_set1.head())
display(validation_set1.head())
display(train_set2.head())
display(validation_set2.head())

File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\train_set\fold_1_train.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\train_set\fold_1_validation_or_test.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\train_set\fold_2_train.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\train_set\fold_2_validation_or_test.pkl

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration2017-04,monthly_total_pages2017-04,monthly_views2017-04,monthly_views2017-05,...,monthly_total_pages2017-07,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,is_active
0,0002c218-d30f-402e-ae08-1280ad4fb669,1,9,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000691c6-4289-47f8-81f1-628e52ed5429,5,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00095350-9e64-4b34-9112-b9869703248b,22,7,10.807466,14.632555,0.0,10.807466,14.632555,5.0,0.0,...,0.0,2.0,5.0,5.0,0.0,0.0,0.0,-5.0,0.0,0.0
3,0010e3be-81bd-48a3-8282-8c8d0b1f9629,0,19,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,00144cb3-bd42-48a3-bae7-53d58e509a3b,5,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration2017-05,monthly_total_pages2017-05,monthly_views2017-05,monthly_views2017-04,...,monthly_total_pages2017-07,active_days,distinct_brochures,views_2017-05,views_2017-04,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,is_active
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,23,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,00095653-80f8-4fba-93d9-44ae70bb6263,22,2,9.546884,0.693147,0.0,9.546884,0.693147,1.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,-1.0,1.0
2,0010e3be-81bd-48a3-8282-8c8d0b1f9629,0,49,0.000000,0.000000,13.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,00144cb3-bd42-48a3-bae7-53d58e509a3b,21,1,0.000000,0.000000,14.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0015a4a8-99f1-4119-9e10-0ac9773ae48a,23,4,10.145755,4.836282,0.0,10.145755,4.836282,3.0,0.0,...,0.0,1.0,3.0,3.0,0.0,0.0,0.0,3.0,-3.0,1.0

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration2017-04,monthly_avg_duration2017-05,monthly_total_pages2017-04,monthly_total_pages2017-05,...,monthly_total_pages2017-07,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,is_active
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,23,1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0002c218-d30f-402e-ae08-1280ad4fb669,32,9,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000691c6-4289-47f8-81f1-628e52ed5429,36,1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00095350-9e64-4b34-9112-b9869703248b,53,7,10.807466,14.632555,0.0,10.807466,0.000000,14.632555,0.000000,...,0.0,2.0,5.0,5.0,0.0,0.0,0.0,-5.0,0.0,0.0
4,00095653-80f8-4fba-93d9-44ae70bb6263,22,2,9.546884,0.693147,0.0,0.000000,9.546884,0.000000,0.693147,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.0,1.0

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration2017-06,monthly_total_pages2017-06,monthly_views2017-06,monthly_views2017-04,...,monthly_total_pages2017-07,active_days,distinct_brochures,views_2017-06,views_2017-04,views_2017-05,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,is_active
0,00095653-80f8-4fba-93d9-44ae70bb6263,9,6,10.523636,5.662960,33.0,10.523636,5.662960,3.0,0.0,...,0.0,2.0,3.0,3.0,0.0,0.0,0.0,0.0,3.0,1.0
1,0010e3be-81bd-48a3-8282-8c8d0b1f9629,0,53,0.000000,0.000000,43.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,001c5296-292d-4290-a1ac-b5751eac80c2,11,9,0.000000,0.000000,22.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0020c0ac-da8c-460c-91ce-b1b603456180,1,125,11.013475,197.345937,3.0,11.013475,197.345937,87.0,0.0,...,0.0,24.0,70.0,87.0,0.0,0.0,0.0,0.0,87.0,1.0
4,0021b2c0-a153-4da8-bf33-56fb39a83525,23,1,0.000000,0.000000,36.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
# Train and Validation sets for Fold 1
X_train_fold1 = train_set1.drop(columns=["userId", "is_active"])
y_train_fold1 = train_set1["is_active"]
X_val_fold1 = validation_set1.drop(columns=["userId", "is_active"])
y_val_fold1 = validation_set1["is_active"]

# Train and Validation sets for Fold 2
X_train_fold2 = train_set2.drop(columns=["userId", "is_active"])
y_train_fold2 = train_set2["is_active"]
X_val_fold2 = validation_set2.drop(columns=["userId", "is_active"])
y_val_fold2 = validation_set2["is_active"]

In [5]:
print(X_train_fold1.shape)
print(X_val_fold1.shape)
print(X_train_fold2.shape)
print(X_val_fold2.shape)

(9801, 25)
(13609, 25)
(19921, 25)
(6167, 25)

# list of models to train

In [6]:
from sklearn.metrics import roc_auc_score, classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
# from xgboost import XGBClassifier
# from lightgbm import LGBMClassifier
models = {
    "Logistic Regression": {
        "model": LogisticRegression(class_weight="balanced", random_state=42),
        "params": {
            "penalty": ["l2"],
            "C": [0.01, 0.1, 1, 10],
            "solver": ["liblinear", "lbfgs"]
        }
    },
    "Random Forest": {
        "model": RandomForestClassifier(class_weight="balanced", random_state=42),
        "params": {
            "n_estimators": [50, 100, 200],
            "max_depth": [5, 10, None],
            "min_samples_split": [2, 5, 10]
        }
    },
    # "XGBoost": {
    #     "model": XGBClassifier(random_state=42, use_label_encoder=False, eval_metric="logloss"),
    #     "params": {
    #         "n_estimators": [50, 100],
    #         "max_depth": [3, 5, 10],
    #         "learning_rate": [0.01, 0.1, 0.2],
    #         "scale_pos_weight": [1, 2, 5]
    #     }
    # },
    # "LightGBM": {
    #     "model": LGBMClassifier(class_weight="balanced", random_state=42),
    #     "params": {
    #         "n_estimators": [50, 100],
    #         "max_depth": [5, 10, -1],
    #         "learning_rate": [0.01, 0.1, 0.2]
    #     }
    # }
}