In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score
import os

In [2]:
BASE_DIR = os.path.abspath("..")
TRAIN_SET = os.path.join(BASE_DIR,"data", "train_set")

In [3]:
from src.genral import restore_dataframes_from_pickle

[train_set1, validation_set1, train_set2, validation_set2] = restore_dataframes_from_pickle(
    file_names=["fold_1_train.pkl", "fold_1_validation_or_test.pkl", "fold_2_train.pkl", "fold_2_validation_or_test.pkl"],
    folder_path=TRAIN_SET
)

display(train_set1.head())
display(validation_set1.head())
display(train_set2.head())
display(validation_set2.head())

File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\train_set\fold_1_train.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\train_set\fold_1_validation_or_test.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\train_set\fold_2_train.pkl
File restored successfully: C:\Users\mona1\PycharmProjects\scientificProject\data\train_set\fold_2_validation_or_test.pkl

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration_2017-04,monthly_total_pages_2017-04,monthly_views_2017-04,monthly_views_2017-05,...,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,views_diff_2017-07_vs_2017-06,is_active
0,0002c218-d30f-402e-ae08-1280ad4fb669,1,9,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000691c6-4289-47f8-81f1-628e52ed5429,5,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00095350-9e64-4b34-9112-b9869703248b,22,7,10.807466,14.632555,0.0,10.807466,14.632555,5.0,0.0,...,2.0,5.0,5.0,0.0,0.0,0.0,-5.0,0.0,0.0,0.0
3,0010e3be-81bd-48a3-8282-8c8d0b1f9629,0,19,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,00144cb3-bd42-48a3-bae7-53d58e509a3b,5,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration_2017-05,monthly_total_pages_2017-05,monthly_views_2017-05,monthly_views_2017-04,...,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,views_diff_2017-07_vs_2017-06,is_active
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,23,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,00095653-80f8-4fba-93d9-44ae70bb6263,22,2,9.546884,0.693147,0.0,9.546884,0.693147,1.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.0,0.0,1.0
2,0010e3be-81bd-48a3-8282-8c8d0b1f9629,0,49,0.000000,0.000000,13.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,00144cb3-bd42-48a3-bae7-53d58e509a3b,21,1,0.000000,0.000000,14.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0015a4a8-99f1-4119-9e10-0ac9773ae48a,23,4,10.145755,4.836282,0.0,10.145755,4.836282,3.0,0.0,...,1.0,3.0,0.0,3.0,0.0,0.0,3.0,-3.0,0.0,1.0

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration_2017-04,monthly_avg_duration_2017-05,monthly_total_pages_2017-04,monthly_total_pages_2017-05,...,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,views_diff_2017-07_vs_2017-06,is_active
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,23,1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0002c218-d30f-402e-ae08-1280ad4fb669,32,9,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000691c6-4289-47f8-81f1-628e52ed5429,36,1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00095350-9e64-4b34-9112-b9869703248b,53,7,10.807466,14.632555,0.0,10.807466,0.000000,14.632555,0.000000,...,2.0,5.0,5.0,0.0,0.0,0.0,-5.0,0.0,0.0,0.0
4,00095653-80f8-4fba-93d9-44ae70bb6263,22,2,9.546884,0.693147,0.0,0.000000,9.546884,0.000000,0.693147,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.0,0.0,1.0

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration_2017-06,monthly_total_pages_2017-06,monthly_views_2017-06,monthly_views_2017-04,...,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,views_diff_2017-07_vs_2017-06,is_active
0,00095653-80f8-4fba-93d9-44ae70bb6263,9,6,10.523636,5.662960,33.0,10.523636,5.662960,3.0,0.0,...,2.0,3.0,0.0,0.0,3.0,0.0,0.0,3.0,-3.0,1.0
1,0010e3be-81bd-48a3-8282-8c8d0b1f9629,0,53,0.000000,0.000000,43.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,001c5296-292d-4290-a1ac-b5751eac80c2,11,9,0.000000,0.000000,22.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0020c0ac-da8c-460c-91ce-b1b603456180,1,125,11.013475,197.345937,3.0,11.013475,197.345937,87.0,0.0,...,24.0,70.0,0.0,0.0,87.0,0.0,0.0,87.0,-87.0,1.0
4,0021b2c0-a153-4da8-bf33-56fb39a83525,23,1,0.000000,0.000000,36.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
# Train and Validation sets for Fold 1
X_train_fold1 = train_set1.drop(columns=["userId", "is_active"])
y_train_fold1 = train_set1["is_active"]
X_val_fold1 = validation_set1.drop(columns=["userId", "is_active"])
y_val_fold1 = validation_set1["is_active"]

# Train and Validation sets for Fold 2
X_train_fold2 = train_set2.drop(columns=["userId", "is_active"])
y_train_fold2 = train_set2["is_active"]
X_val_fold2 = validation_set2.drop(columns=["userId", "is_active"])
y_val_fold2 = validation_set2["is_active"]

In [21]:
display(train_set1.head())
display(validation_set1.head())
display(train_set2.head())
display(validation_set2.head())

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration_2017-04,monthly_total_pages_2017-04,monthly_views_2017-04,monthly_views_2017-05,...,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,views_diff_2017-07_vs_2017-06,is_active
0,0002c218-d30f-402e-ae08-1280ad4fb669,1,9,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000691c6-4289-47f8-81f1-628e52ed5429,5,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00095350-9e64-4b34-9112-b9869703248b,22,7,10.807466,14.632555,0.0,10.807466,14.632555,5.0,0.0,...,2.0,5.0,5.0,0.0,0.0,0.0,-5.0,0.0,0.0,0.0
3,0010e3be-81bd-48a3-8282-8c8d0b1f9629,0,19,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,00144cb3-bd42-48a3-bae7-53d58e509a3b,5,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration_2017-05,monthly_total_pages_2017-05,monthly_views_2017-05,monthly_views_2017-04,...,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,views_diff_2017-07_vs_2017-06,is_active
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,23,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,00095653-80f8-4fba-93d9-44ae70bb6263,22,2,9.546884,0.693147,0.0,9.546884,0.693147,1.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.0,0.0,1.0
2,0010e3be-81bd-48a3-8282-8c8d0b1f9629,0,49,0.000000,0.000000,13.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,00144cb3-bd42-48a3-bae7-53d58e509a3b,21,1,0.000000,0.000000,14.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0015a4a8-99f1-4119-9e10-0ac9773ae48a,23,4,10.145755,4.836282,0.0,10.145755,4.836282,3.0,0.0,...,1.0,3.0,0.0,3.0,0.0,0.0,3.0,-3.0,0.0,1.0

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration_2017-04,monthly_avg_duration_2017-05,monthly_total_pages_2017-04,monthly_total_pages_2017-05,...,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,views_diff_2017-07_vs_2017-06,is_active
0,0000bb01-a52b-4b4c-a0dd-8ef80f0a810c,23,1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0002c218-d30f-402e-ae08-1280ad4fb669,32,9,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000691c6-4289-47f8-81f1-628e52ed5429,36,1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00095350-9e64-4b34-9112-b9869703248b,53,7,10.807466,14.632555,0.0,10.807466,0.000000,14.632555,0.000000,...,2.0,5.0,5.0,0.0,0.0,0.0,-5.0,0.0,0.0,0.0
4,00095653-80f8-4fba-93d9-44ae70bb6263,22,2,9.546884,0.693147,0.0,0.000000,9.546884,0.000000,0.693147,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.0,0.0,1.0

,userId,days_since_last_engagement,total_events,avg_view_duration,total_page_turns,install_to_first_interaction_days,monthly_avg_duration_2017-06,monthly_total_pages_2017-06,monthly_views_2017-06,monthly_views_2017-04,...,active_days,distinct_brochures,views_2017-04,views_2017-05,views_2017-06,views_2017-07,views_diff_2017-05_vs_2017-04,views_diff_2017-06_vs_2017-05,views_diff_2017-07_vs_2017-06,is_active
0,00095653-80f8-4fba-93d9-44ae70bb6263,9,6,10.523636,5.662960,33.0,10.523636,5.662960,3.0,0.0,...,2.0,3.0,0.0,0.0,3.0,0.0,0.0,3.0,-3.0,1.0
1,0010e3be-81bd-48a3-8282-8c8d0b1f9629,0,53,0.000000,0.000000,43.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,001c5296-292d-4290-a1ac-b5751eac80c2,11,9,0.000000,0.000000,22.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0020c0ac-da8c-460c-91ce-b1b603456180,1,125,11.013475,197.345937,3.0,11.013475,197.345937,87.0,0.0,...,24.0,70.0,0.0,0.0,87.0,0.0,0.0,87.0,-87.0,1.0
4,0021b2c0-a153-4da8-bf33-56fb39a83525,23,1,0.000000,0.000000,36.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [5]:
print(X_train_fold1.shape)
print(X_val_fold1.shape)
print(X_train_fold2.shape)
print(X_val_fold2.shape)
X_train_fold1.columns=range(X_train_fold1.shape[1])
X_val_fold1.columns=range(X_train_fold1.shape[1])
X_train_fold2.columns=range(X_train_fold1.shape[1])
X_val_fold2.columns=range(X_train_fold1.shape[1])

(9801, 26)
(13609, 26)
(19921, 26)
(6167, 26)

In [17]:
X_train_fold1.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,9,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22,7,10.807466,14.632555,0.0,10.807466,14.632555,5.0,0.0,0.0,...,0.0,2.0,5.0,5.0,0.0,0.0,0.0,-5.0,0.0,0.0
3,0,19,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# list of models to train

In [6]:
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score, classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
# from xgboost import XGBClassifier
# from lightgbm import LGBMClassifier
models = {
    "Logistic Regression": {
        "model": LogisticRegression(class_weight="balanced", random_state=42),
        "params": {
            "penalty": ["l2"],
            "C": [0.01, 0.1, 1, 10],
            "solver": ["liblinear", "lbfgs"]
        }
    },
    "Random Forest": {
        "model": RandomForestClassifier(class_weight="balanced", random_state=42),
        "params": {
            "n_estimators": [50, 100, 200],
            "max_depth": [5, 10, None],
            "min_samples_split": [2, 5, 10]
        }
    },
    "XGBoost": {
        "model": XGBClassifier(random_state=42, use_label_encoder=False, eval_metric="logloss"),
        "params": {
            "n_estimators": [50, 100],
            "max_depth": [3, 5, 10],
            "learning_rate": [0.01, 0.1, 0.2],
            "scale_pos_weight": [1, 2, 5]
        }
    },
    "LightGBM": {
        "model": LGBMClassifier(class_weight="balanced", random_state=42),
        "params": {
            "n_estimators": [50, 100],
            "max_depth": [5, 10, -1],
            "learning_rate": [0.01, 0.1, 0.2]
        }
    }
}

In [28]:
X_train_fold1.head()
y_train_fold1.head()
X_val_fold1.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,23,1,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22,2,9.546884,0.693147,0.0,9.546884,0.693147,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.0,0.0
2,0,49,0.000000,0.000000,13.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21,1,0.000000,0.000000,14.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,23,4,10.145755,4.836282,0.0,10.145755,4.836282,3.0,0.0,0.0,...,0.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,-3.0,0.0

In [7]:
from src.Models import train_and_evaluate

best_model_fold1, best_model_name_fold1, best_params_fold1, best_score_fold1 = train_and_evaluate(
    X_train_fold1, y_train_fold1, X_val_fold1, y_val_fold1, models
)

Training Logistic Regression...
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Logistic Regression ROC-AUC on Validation: 0.3705
Training Random Forest...
Fitting 5 folds for each of 27 candidates, totalling 135 fits
Random Forest ROC-AUC on Validation: 0.3222
Training XGBoost...
Fitting 5 folds for each of 54 candidates, totalling 270 fits

C:\Users\mona1\Desktop\Bonial\Lib\site-packages\xgboost\core.py:158: UserWarning: [17:39:45] WARNING: D:\bld\xgboost-split_1733179535861\work\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBoost ROC-AUC on Validation: 0.3171
Training LightGBM...
Fitting 5 folds for each of 18 candidates, totalling 90 fits
[LightGBM] [Info] Number of positive: 3462, number of negative: 6339
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000093 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1501
[LightGBM] [Info] Number of data points in the train set: 9801, number of used features: 11
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=-0.000000
[LightGBM] [Info] Start training from score -0.000000
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
LightGBM ROC-AUC on Validation: 0.3108

Best Model: Logistic Regression
Best Params: {'C': 0.1, 'penalty': 'l2', 'solver': 'lbfgs'}
Best ROC-AUC: 0.3705

C:\Users\mona1\Desktop\Bonial\Lib\site-packages\numpy\ma\core.py:2881: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,

In [8]:
best_model_fold2, best_model_name_fold2, best_params_fold2, best_score_fold2 = train_and_evaluate(
    X_train_fold2, y_train_fold2, X_val_fold2, y_val_fold2, models
)

Training Logistic Regression...
Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\mona1\Desktop\Bonial\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression ROC-AUC on Validation: 0.5567
Training Random Forest...
Fitting 5 folds for each of 27 candidates, totalling 135 fits
Random Forest ROC-AUC on Validation: 0.1214
Training XGBoost...
Fitting 5 folds for each of 54 candidates, totalling 270 fits

C:\Users\mona1\Desktop\Bonial\Lib\site-packages\xgboost\core.py:158: UserWarning: [17:40:50] WARNING: D:\bld\xgboost-split_1733179535861\work\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBoost ROC-AUC on Validation: 0.6096
Training LightGBM...
Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\mona1\Desktop\Bonial\Lib\site-packages\numpy\ma\core.py:2881: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,

[LightGBM] [Info] Number of positive: 6118, number of negative: 13803
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000949 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2598
[LightGBM] [Info] Number of data points in the train set: 19921, number of used features: 17
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=0.000000
[LightGBM] [Info] Start training from score 0.000000
LightGBM ROC-AUC on Validation: 0.6472

Best Model: LightGBM
Best Params: {'learning_rate': 0.01, 'max_depth': -1, 'n_estimators': 100}
Best ROC-AUC: 0.6472